@scripts = {
	<script src="@routes.Assets.at("javascripts/user/principal.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/user/create.js")" type="text/javascript"></script>
}

@viewMain( scripts ){
	<form id = "createform" >
		<div class = "inline" style="width:24%">
			<label>Origen</label>
			<select id = "cbx_origen">
				<option value = 1>Interno</option>
				<option value = 0>Externo</option>
			</select>
		</div>
		<div class = "inline" style="width:24%">
			<label>Nombre*</label>
			<input id = "nombre" name = "nombre" type="text" />
		</div>
		<div class = "inline" style="width:24%">
			<label>Apellido paterno*</label>
			<input id = "appaterno" name = "appaterno" type="text" />
		</div>
		<div class = "inline" style="width:23%">
			<label>Apellido materno</label>
			<input id = "apmaterno" name = "apmaterno" type="text" />
		</div>
		<div class = "inline" style="width:24%">
			<label>Tipo doc. identidad*</label>
			<select id = "cbx_tipo_doc" name = "cbx_tipo_doc" >
			</select>
		</div>
		<div class = "inline" style="width:24%">
			<label>N° documento</label>
			<input id = "nro_documento" name = "nro_documento" type="text" />
		</div>
		<div class = "inline" style="width:24%">
			<label>Correo electrónico</label>
			<input id = "mail" name = "mail" type="text" />
		</div>
		<div class = "inline" style="width:23%">
			<label>Área de trabajo</label>
			<select id = "cbx_area_trabajo" name = "cbx_area_trabajo" >
			</select>
		</div>
		<div class = "inline" style="width:24%">
			<label>Usuario*</label>
			<input id = "username" name = "username" type="text" />
		</div>
		<div class = "inline" style="width:24%">
			<label>Password*</label>
			<input type = "password" id = "password" name = "password" />
		</div>
		<div class = "inline" style="width:24%">
			<label>Perfil*</label>
			<select id = "cbx_perfil" name = "cbx_perfil" >
			</select>
		</div>
		<div class = "inline" style="width:23%">
			<label>Max. Atención</label>
			<input id = "cantidad" name = "cantidad" type="text" />
		</div>
		<button  id = "btn_create_user">Crear</button>
		<a  href = "/administracion/usuario/ver" class="boton" style="float:right; margin-right:10px;">Cancelar</a>
	</form>
}