@scripts = {
	<script src="@routes.Assets.at("javascripts/configuration/createPerfil.js")" type="text/javascript"></script>
}

@viewMain( scripts ){
	<div class = "inline">
		<label>Nombre perfil</label>
		<input id = "nombreperfil" type="text" />
	</div>
	<div class = "inline" >
		<label>Módulo</label>
		<select id = "cbx_modulo" >
		</select>
	</div>
	<div class="inline" style="margin-top:25px;">
		<button  id = "btn_create_perfil" style="float:none;">Guardar</button>
		<a  href = "/administracion/perfil/ver" class="boton" style="float:right; margin-right:10px;">Cancelar</a>
	</div>
	<div class = "block" id = "all-views" >
	</div>
}