@( idperfil: Integer )

@scripts = {
	<script src="@routes.Assets.at("javascripts/configuration/editPerfil.js")" type="text/javascript"></script>
}

@viewMain( scripts ){
	<div class = "block" style = "display:none;" >
		<label>Id</label>
		<input id = "idperfil" value = @{idperfil} disabled/>
	</div>
	<div class = "inline">
		<label>Nombre perfil</label>
		<input id = "nombreperfil" type="text" />
	</div>
	<div class = "inline" >
		<label>Estado</label>
		<select id = "cbx_estado">
			<option value = "0">Inactivo</option>
			<option value = "1">Activo</option>
		</select>
	</div>
	<div class = "inline" >
		<label>Módulo</label>
		<select id = "cbx_modulo" >
		</select>
	</div>
	<div class="inline" style="margin-top:25px;">
		<button  id = "btn_edit_perfil">Guardar</button>
		<a  href = "/administracion/perfil/ver" class="boton" style="float:right; margin-right:10px;">Cancelar</a>
	</div>
	<div class = "block" id = "all-views" >
	</div>
}